.container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    .header {
        display: flex;
        flex-direction: column;

        .title_header {
            font-size: 18px;
            color: #303030;
            font-weight: 550;
        }

        .container_filter {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 20px 0;
            padding: 0 20px;

            .container_search {
                width: 45%;

                .title_search {
                    font-size: 14px;
                    color: #3c3c3c;
                }
            }

            .container_dropdown {
                width: 220px;
                position: relative; 
                z-index: 999;
                margin-left: 40px;

                .title_search {
                    font-size: 14px;
                    color: #3c3c3c;
                }
            }
        }
    }

    .body_container {
        margin: 20px 0;
        padding: 0 20px;
        max-height: 372px;
        overflow-y: auto;
        z-index: 1;

        .table_main {
            border-collapse: collapse;
            width: 100%;

            .header_table {
                width: 100%;
                text-align: center;
                border: 1px solid #ccc;
                position: sticky;
                top: 0;

                .item_header_table {
                    border-collapse: collapse;
                    background-color: #008DB5;
                    padding: 10px 0;
                    color: #ffffff;
                }
            }

            .body_table {
                .row_table {
                    border-right: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    width: 100%;

                    &:hover {
                        cursor: pointer;
                        background-color: #f6f6f6;
                    }

                    .item_row_table {
                        text-align: center;
                        padding: 8px 0;

                        .text_row {
                            font-style: italic;
                            color: #008DB5;

                            &:hover {
                                cursor: pointer;
                                opacity: 0.7;
                            }
                        }
                    }
                    .active {
                        color: rgb(0, 218, 0);
                    }

                    .waiting {
                        color: rgb(83, 83, 255);
                    }

                    .lock {
                        color: rgb(255, 29, 29);
                    }
                }
            }
        }
    }
}
