@import '../../constants/color.scss';
@import '../../constants//dimen.scss';

.container {
    flex: 1;
    background-color: $white;
    border-radius: 5px;
    border-width: 1px;
    border-color: $disabled;
    border-style: solid;
    padding: $padding_content_horizontal $padding_content_vertical;
    margin: 0 3% 0 3%;

    .topContainer {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;

        .icon {
            width: 25px;
            height: 25px;
            margin-right: 15px;
        }

        .title {
            color: $black;
            font-size: $text_size_title;
        }
    }

    .description {
        margin: 10px 0px;
        font-size: $text_size_content;
    }

    .button {
        width: 100px;
        height: 40px;
        background-color: $bgbutton1;
        color: $white;
        border-radius: 5px;
    }
}