$default: #EEEEEE;
$heading: #70BACF;
$white: #FFFFFF;
$disabled: #A9A9A9;
$black: #000000;
$bgheader: #008DB5;
$error: #FF0000;
$border: #E3E3E3;
$bgbutton1: #00243D;
$bgbutton2: #008DB5;
$bgbutton3: #E10000;