$padding_input_horizontal: 15px;
$padding_input_vertical: 10px;

$padding_content_horizontal: 20px;
$padding_content_vertical: 25px;

$text_size_title: 25px;
$text_size_content: 18px;

$margin_component_horizontal: 15px;
$margin_component_vertical: 25px;

$padding_header_vertical: 25px;
