@import '../../../constants/color.scss';
@import '../../../constants/dimen.scss';

.container {
    .headerContainer {
        display: flex;
        flex-direction: column;
        background-color: $bgheader;
        justify-content: center;
        align-items: center;
        padding: $padding_content_vertical;

        .header {
            width: 100%;
            text-align: center;
            color: $white;
            font-size: $text_size_title;
        }
    
    }
    .title {
        flex: 1;
        font-size: $text_size_title;
        color: $bgbutton1;
        margin: 30px 5% 10px 5%;
    }

    .pagination {
        width: 90%;
        margin: 30px 5%;
        height: 2px;
        border-style: dashed;
        border-width: 2px 0px 0px 0px;
        border-color: $disabled;
    }

    .childContainer {
        width: 90%;
        margin: 10px 5%;
        height: auto;
        display: flex;
        flex-direction: row;

        .spaceView {
            width: 5%;
        }

        .serviceContainer {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: right;
            
            .label {
                font-size: $text_size_content;
                color: $disabled;
                margin-bottom: 5px;
            }

            .comboService {
                background-color: $bgbutton2;
                color: $white;
                padding: $padding_input_vertical $padding_input_horizontal;
                border-radius: 5px;
                border-width: 1px;
                border-color: $disabled;
                border-style: solid;        
                margin-bottom: 5px;

                .itemService {
                    background-color: $white;
                    color: $black;
                    padding: $padding_input_vertical $padding_input_horizontal;
                }
            }
        
        }

    }

    .btnCancel {
        width: 30%;
        padding: $padding_input_vertical $padding_content_horizontal;
        background-color: $bgbutton3;
        color: $white;
        margin: $margin_component_vertical 35%;
        font-size: $text_size_content;
    }

}