@import '../../../../constants/color.scss';
@import '../../../../constants/dimen.scss';

.container {
    display: flex;
    flex-direction: column;

    .header {
        width: 100%;
        text-align: center;
        background-color: $bgheader;
        color: $white;
        padding: $padding_content_vertical;
        font-size: $text_size_title;
    }

    .title {
        flex: 1;
        font-size: $text_size_title;
        color: $bgbutton1;
        margin: 10px 5%;
    }

    .childContainer {
        width: 90%;
        margin: 10px 5%;
        height: auto;
        display: flex;
        flex-direction: row;

        .fieldContainer {
            flex: 1;
            
            .label {
                font-size: $text_size_content;
                color: $disabled;
                margin-bottom: 5px;
            }

            .comboField {
                background-color: $white;
                color: $black;
                padding: $padding_input_vertical $padding_input_horizontal;
                border-radius: 5px;
                border-width: 1px;
                border-color: $disabled;
                border-style: solid;        
                margin-bottom: 5px;
                width: 100%;

                .itemField {
                    background-color: $white;
                    color: $black;
                    padding: $padding_input_vertical $padding_input_horizontal;
                }
            }

            .input {
                width: 100%;
                height: 100px;
                padding: $padding_input_vertical $padding_input_horizontal;
                color: $black;
                border-radius: 5px;
                border-width: 1px;
                border-color: $disabled;
                border-style: solid;
                margin-bottom: 5px;
                max-lines: 10;
            }        
        
        }

        .spaceView {
            width: 5%;
        }
    }

    .btnAdd {
        padding: $padding_input_vertical $padding_content_horizontal;
        background-color: $bgbutton2;
        color: $white;
        width: 20%;
        margin: $margin_component_vertical 40%;
        font-size: $text_size_content;
    }

}
