@import '../../constants/color.scss';
@import '../../constants/dimen.scss';

.container {
    flex: 1;
    background-color: $default;

    .mainContainer {
        flex: 1;
        margin: 5% 15% 0px 15%;
        background-color: $white;
        padding: 50px 10%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .mainTitle {
            color: $bgbutton1;
            font-weight: bold;
            font-size: $text_size_title;
            margin: 0px 0px 15px 0px;
        }

        .forgotPassword {
            font-size: 15px;
            text-align: right;
        }

        .btnLoginIn {
            background-color: $bgbutton2;
            color: $white;
            padding: 15px;
            border-radius: 5px;
            font-weight: bold;
            font-size: $text_size_content;
        }

        .mt {
            margin-top: 15px;
        }

    }

}