@import '../../../constants/color.scss';
@import '../../../constants/dimen.scss';

.container {
    .headerContainer {
        display: flex;
        flex-direction: column;
        background-color: $bgheader;
        justify-content: center;
        align-items: center;
        padding: $padding_content_vertical;

        .header {
            width: 100%;
            text-align: center;
            color: $white;
            font-size: $text_size_title;
        }
    
    }

    .title {
        flex: 1;
        font-size: $text_size_title;
        color: $bgbutton1;
        margin: 30px 5% 10px 5%;
    }

    .titleRule {
        flex: 1;
        font-size: $text_size_title;
        color: $bgbutton1;
        margin: 30px 5% 10px 5%;
        text-align: center;
    }

    .pagination {
        width: 90%;
        margin: 30px 5%;
        height: 2px;
        border-style: dashed;
        border-width: 2px 0px 0px 0px;
        border-color: $disabled;
    }

    .childContainer {
        width: 90%;
        margin: 10px 5%;
        height: auto;
        display: flex;
        flex-direction: row;

        .spaceView {
            width: 5%;
        }

        .totalLabel{
            font-weight: bold;
            color: $black;
            font-size: $text_size_content;
            margin-top: 10px;
            flex: 1;
            text-align: left;
            margin-left: $margin_component_horizontal;
        }

        .total {
            font-weight: bold;
            color: $black;
            font-size: $text_size_content;
            margin-top: 10px;
            flex: 1;
            text-align: right;
            margin-right: $margin_component_horizontal;
        }
    }

    .separator {
        width: 90%;
        margin: 5px 5%;
        height: 1.5px;
        background-color: $black;
    }

    .btnConfirm {
        width: 30%;
        padding: $padding_input_vertical $padding_content_horizontal;
        background-color: $bgbutton2;
        color: $white;
        margin: $margin_component_vertical 35%;
        font-size: $text_size_content;
    }

    .btnExport {
        width: 30%;
        padding: $padding_input_vertical $padding_content_horizontal;
        background-color: $white;
        color: $bgbutton2;
        border-color: $bgbutton2;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        margin: $margin_component_vertical 35%;
        font-size: $text_size_content;
    }

}