.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;

    .container-body {
        width: 44%;
        background-color: #fff;
        border-radius: 4px;
        display: flex;
        flex-direction: column;

        .container-header {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .title_modal {
                font-size: 18px;
                font-weight: 550;
                color: #4b4b4b;
                margin-bottom: 20px;
                margin-top: 20px;
            }

            .btn_close {
                position: absolute;
                font-size: 30px;
                top: 10px;
                right: 20px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                text-align: center;

                &:hover {
                    cursor: pointer;
                    background-color: #ebebeb;
                }
            }
        }

        .container_body_modal {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 0 20px;

            .body_1 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 10px;

                .title_body_1 {
                    font-size: 14px;
                    font-weight: 300;
                    color: #70BACF;
                    font-style: italic;
                    margin-bottom: 10px;
                }

                .container_body_1 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin: 6px 0;

                    .title_content {
                        font-size: 13px;
                        color: #6b6b6b;
                    }

                    .content_body_1 {
                        border: 1px solid #bababa;
                        padding: 2px 10px;
                        width: 70%;
                        font-size: 14px;
                        border-radius: 4px;
                        color: #6b6b6b;
                    }
                }
            }
        }

        .container_btn {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 10px 10px 20px;

            .btn_rejected {
                background-color: #FF0000;
                width: 120px;
                padding: 6px 0;
                text-align: center;
                margin: 0 10px;
                border-radius: 4px;

                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }
            }

            .btn_accept {
                background-color: #0088AF;
                width: 160px;
                padding: 6px 0;
                text-align: center;
                margin: 0 10px;
                border-radius: 4px;
                
                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }
            }

            .title_btn {
                color: #ffffff;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}