@import '../../../../../constants/color.scss';
@import '../../../../../constants/dimen.scss';

.container {
    flex: 1;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px $margin_component_horizontal;


    .title {
        color: $disabled;
        font-size: $text_size_content;
    }

    .content {
        color: $black;
        font-weight: bold;
        font-size: $text_size_content;
        margin-left: 10px;
    }
}