@import '../../../constants/color.scss';
@import '../../../constants/dimen.scss';

.container {
    .header {
        width: 100%;
        text-align: center;
        background-color: $bgheader;
        color: $white;
        padding: $padding_content_vertical;
        font-size: $text_size_title;
    }

    .topContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0px 5%;
        margin-top: 20px;
        margin-bottom: 10px;

        .spaceView {
            width: 5%;
        }

        .searchContainer {
            flex: 2;
            
            .label {
                font-size: $text_size_content;
                color: $disabled;
                margin-bottom: 5px;
            }
        
            .input {
                width: 100%;
                padding: $padding_input_vertical $padding_input_horizontal;
                color: $black;
                border-radius: 5px;
                border-width: 1px;
                border-color: $disabled;
                border-style: solid;
                margin-bottom: 5px;
            }
        }

        .dateCreateContainer {
            flex: 1;
            
            .label {
                font-size: $text_size_content;
                color: $disabled;
                margin-bottom: 5px;
            }
        
            .input {
                width: 100%;
                padding: $padding_input_vertical $padding_input_horizontal;
                color: $black;
                border-radius: 5px;
                border-width: 1px;
                border-color: $disabled;
                border-style: solid;
                margin-bottom: 5px;
            }
        }

        .advContainer {
            flex: 1;

            .label {
                font-size: $text_size_content;
                color: $disabled;
                margin-bottom: 5px;
            }

            .comboAdv {
                background-color: $white;
                color: $black;
                padding: $padding_input_vertical $padding_input_horizontal;
                border-radius: 5px;
                border-width: 1px;
                border-color: $disabled;
                border-style: solid;        
                margin-bottom: 5px;
                width: 100%;

                .itemAdv {
                    background-color: $white;
                    color: $black;
                    padding: $padding_input_vertical $padding_input_horizontal;
                }
            }

        }
    }
    
    .title {
        flex: 1;
        font-size: $text_size_title;
        color: $bgbutton1;
        margin: 20px 5%;
    }

    .dataContainer {
        flex: 1;
        margin: 0px 5% 25px 5%;
        
        .tbOrder {
            width: 100%;

            .tbHeader {
                width: 25%;
                background-color: $bgbutton2;
                color: $white;
                font-size: 22px;
                padding: 10px 0px;
            }
    
        }
    }

}