.container_main {
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px 40px;

    .container_body {
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px 80px;

        .title_body {
            font-size: 18px;
            color: #008db5;
            font-style: italic;
            margin-top: 10px;
        }
        .container_info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0;
            padding: 0 60px;
            .content {
                width: 900px;
                border: 1px solid #cccccc;
                padding: 6px 20px;
                border-radius: 2px;
            }
            .red {
                color: red;
            }
            .blue {
                color: blue;
            }
            .green {
                color: rgb(0, 195, 0);
            }
        }
    }

    .container_btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 30px 130px;

        .btn_red {
            width: 120px;
            background-color: red;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            padding: 10px 20px;
            border-radius: 4px;
            margin: 0 10px;

            &:hover {
                cursor: pointer;
                box-shadow: 0 0 2px 2px #cccccc;
            }
        }

        .btn_main {
            width: 220px;
            background-color: #008db5;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            padding: 10px 20px;
            border-radius: 4px;
            margin: 0 10px;

            &:hover {
                cursor: pointer;
                box-shadow: 0 0 2px 2px #cccccc;
            }
        }
    }
}

.container-loader {
    position: fixed;
    background-color: #0000004a;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2200;
    .loader-feedback {
        // margin-top: calc(15% + 30px);
        z-index: 2500;
    }
}