@import '../../../../../constants/color.scss';
@import '../../../../../constants/dimen.scss';

.container {
    flex: 1;
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin: 0px $margin_component_horizontal;


    .title {
        color: $disabled;
        font-size: $text_size_content;
        flex: 1;
        text-align: left;
    }

    .content {
        font-weight: bold;
        color: $black;
        font-size: $text_size_content;
        margin-top: 10px;
        flex: 1;
        text-align: right;
    }
}